.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    padding: 10px 10px;
    border-radius: 8px;
}

.avatar {
    margin: 0;
}

.name {
    margin: 0;
    color: black;
    font-size: 18px;
    margin-top: 5px;
}

.status {
    margin: 0;
    font-size: 12px;
}

.item .status.online {
    color: green;
}

.item .status.offline {
    color: red;
}